.tabContainer {
  flex: 1 0 55px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  box-shadow: inset 0 -1px 0 #E7E7EC;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
