.profileHeader {
  width: 100%;
  min-height: 400px;
  background: #454545;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profileName {
  color: white;
  font-weight: normal;
}

.rows {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
}

.column {
  padding: 10px 20px;
  flex: 1 1 auto;
}

.column:first-child {
  border-right: 1px solid #ececec;
}

.columnTitle {

}
