.button {
  height: 45px;
  line-height: 45px;
  width: 100%;
  background: #529ecc;
  color: white;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.button:active {
  background: #3585b5;
}
