.header {
  padding-right: 5%;
  padding-left: 5%;
  height: 50px;
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blue {
  background: #3585b5;
}

.logo {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

.outlineButton {
  color: white;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 4px;
  text-decoration: none;
}

.outlineButton:hover {
  color: black;
  background-color: white;
}
