.linkDropdown {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  position: relative;
}

.buttonLink {
  text-decoration: none;
  color: white;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.buttonLink:hover {
  background: #2a76a3;
}

.buttonLink img {
  width: 32px;
  height: 32px;
  vertical-align:middle;
  border-radius: 50%;
}

.buttonLink span {
  margin-left: 10px;
  line-height: 32px;
}

.dropButton {
  background: transparent;
  border: 0;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.dropButton:hover {
  background: #2a76a3;
}

.dropButton:focus {
  outline: 0;
}

.dropContainer {
  display: none;
  z-index: 101;
  background: #3585b5;
  position: absolute;
  top: 49px;
  right: 0;
}

.active {
  display: block;
}

.dropLink {
  background: transparent;
  color: white;
  border: 0;
  border-top: 1px #22638a solid;
  width: 100%;
  font-size: 16px;
  padding: 7px 12px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.dropLink:hover {
  background: #2a76a3;
}

.dropLink:focus {
  outline: 0;
}
