.linkDropdown {
  width: 100%;
  display: flex;
  padding-top: 5px;
  position: relative;
  padding-bottom: 5px;
  flex-direction: row;
}

.buttonLink {
  border: 0;
  width: 100%;
  color: white;
  display: flex;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  background: transparent;
}

.buttonLink:hover {
  color: #ececec;
}

.buttonLink:focus {
  outline: 0;
}

.infosImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.infosText {
  flex-grow: 1;
  font-size: 14px;
  overflow: hidden;
  line-height: 32px;
  margin-left: 10px;
  text-align: start;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropContainer {
  right: 0;
  top: 50px;
  width: 100%;
  z-index: 101;
  display: none;
  padding: 10px 20px;
  background: white;
  position: absolute;
  border-radius: 4px;
  flex-direction: column;
}

.active {
  display: flex;
}

.dropLink {
  border: 0;
  color: #3585b5;
  cursor: pointer;
  font-size: 13px;
  line-height: 22px;
  text-decoration: none;
  background: transparent;
}

.dropLink:hover {
  color: #115599;
}

.dropLink:focus {
  outline: 0;
}
