.outlineButton {
  color: white;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 4px;
  text-decoration: none;
}

.outlineButton:hover {
  color: black;
  background-color: white;
}

.centerSignup {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.signupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  font-size: 3em;
  font-weight: normal;
}

.inputGroup {
  margin-bottom: 20px;
  border-radius: 4px;
  background: white;
  width: 100%;
}

.inputBox {
  border-top: 1px solid #e3e3e3;
}

.inputBox:first-child {
  border-top: 0;
}

.inputBox input {
  width: 100%;
  padding: 11px 10px 11px 13px;
  display: block;
  margin: 0;
  border: 0;
  background: 0;
  font-size: 16px;
}

.inputBox input:focus {
  outline: 0;
}

.signupButton {
  height: 45px;
  line-height: 45px;
  width: 100%;
  background: #529ecc;
  color: white;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.signupButton:active {
  background: #3585b5;
}
