.inputGroup {
  margin-bottom: 20px;
  border-radius: 4px;
  background: white;
  width: 100%;
}

.inputBox {
  border-top: 1px solid #e3e3e3;
}

.inputBox:first-child {
  border-top: 0;
}

.inputBox input {
  width: 100%;
  padding: 11px 10px 11px 13px;
  display: block;
  margin: 0;
  border: 0;
  background: 0;
  font-size: 16px;
}

.inputBox input:focus {
  outline: 0;
}
