html, body {
  font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

:global {
  .topPadding {
    padding-top: 50px;
  }

  .flexFull {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
  }

  .flexSpace {
    flex: 1 1 auto;
  }
}
