header.blue {
  background: #3585b5;
}

.searchBar {
  flex: 2 2 auto;
  border-radius: 4px;
  background: white;
}

.searchBar input {
  border: 0;
  width: 100%;
  padding: 5px 10px 5px 13px;
  display: block;
  margin: 0;
  border: 0;
  background: 0;
  font-size: 16px;
}

.searchBar input {
  outline: 0;
}

.linkDropdown {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.buttonLink {
  text-decoration: none;
  color: white;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.buttonLink:hover {
  background: #2a76a3;
}

.buttonLink img {
  width: 32px;
  height: 32px;
  vertical-align:middle;
  border-radius: 50%;
}

.buttonLink span {
  margin-left: 10px;
  line-height: 32px;
}