.background {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: url(./bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.backgroundFader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 2;
  background-image: linear-gradient(rgba(0,0,0,0.4) 0%,rgba(0,0,0,.6) 75%,rgba(0,0,0,.8) 100%);
}
